* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

main {
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: 5vh 15vh 15vh 15vh 15vh 15vh;
    grid-template-areas: 
        "header header header header header header header header"
        "rules rules rules viewport viewport viewport viewport viewport"
        "rules rules rules viewport viewport viewport viewport viewport"
        "rules rules rules viewport viewport viewport viewport viewport"
        "rules rules rules viewport viewport viewport viewport viewport"
        "rules rules rules shadows shadows shadows shadows shadows";
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #026ab2;
    color: white;
}

.gameRules {
    grid-area: rules;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding: 3vh 4vw;
    background-color: #fcdaa2;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h1 img {
    max-width: 90%;
    height: auto;
}

.viewport {
    grid-area: viewport;
    margin: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(5, 10vw);
    grid-template-rows: repeat(4, 15vh);
    grid-template-areas: 
        ". item1 item10 . ."
        ". . item2 item4 ."
        ". item7 item6 . item3"
        ". item8 item5 item9 .";
    position: relative;
    overflow: hidden;
}

#backdrop {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
    background-image: url(assets/elle.ollo.png);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.items {
    width: 7vh;
    display: flex;
    place-self: center;
    position: relative;
    z-index: 0;
}

.shadowCtr, .foundCtr {
    grid-area: shadows;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    align-items: center;
    justify-content: space-evenly;
    z-index: 0;
    padding: 1vw;
}

.shadowCtr {
    position: relative;
}

.shadow {
    width: 5vh;
    z-index: 1;
    display: flex;
    place-self: center;
    position: relative;
}

.shadow img {
    width: 100%;
    object-fit: contain;
}

.foundCtr {
    z-index: 2;
}

.found {
    width: 5vh;
    z-index: 3;
    display: none;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.found img {
    width: 100%;
    object-fit: contain;
}

.foundVisible {
    display: block;
    opacity: 1;
    left: 0;
    top: 0;
    width: 5vh;
}

#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
}

#item4 {
    grid-area: item4;

}

#item5 {
    grid-area: item5;
}

#item6 {
    grid-area: item6;
}

#item7 {
    grid-area: item7;
}

#item8 {
    grid-area: item8;
}

#item9 {
    grid-area: item9;
}

#item10 {
    grid-area: item10;
}

button {
    height: 4vh;
    width: 25vh;
    background-color: #011320;
    border-radius: 7px;
    border: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    
}



